.custom-prev-arrow{
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    left: -2.5%;
    z-index: 20;
    font-size: 30px;
    color: rgb(255,123,71);
}

.custom-next-arrow{
    position: absolute;
    top: 50%;
    left: 100%;
    cursor: pointer;
    z-index: 20;
    font-size: 30px;
    color: rgb(255,123,71);
}